________________________
Images
________________________

1. Clients images -> 128X128 pixels. 
Just increase the white background. The image remains the same as on vmarc website.

2. logo gif.

3. "single and multicore aluminium cables"  product  image.

4. "Rubber cables" product image
________________________
pdf files
________________________

1. technical brochures with new logo of each product.

2. Price List pdf(products section)